[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

gymnasium = "*"
tensorflow = "*"
tensorboardx = "*"
torch = "*"
torchaudio = "*"
torchvision = "*"
matplotlib = "*"
pyvirtualdisplay = "*"
ipython = "*"
seaborn = "*"
onnxruntime = "*"
onnxscript = "*"

[dev-packages]

[requires]
python_version = "3.11"
